body {
  margin: 0;
  padding: 20px;
  background: url('https://codepen.io/AlienPiglet/pen/hvekG/image/large.png');
  background-size: cover;
  height: 100vh;
  overflow-x: hidden;
}

.controls {
  text-align: center;
  position: relative;
  z-index: 1;
}

button {
  background: #348C90;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  outline: none;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.container {
  height: 90vh;
  position: relative;
}

.container img {
  width: 33%;
  opacity: 0;
  border: 1.4vw solid #eee;
}